*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherited the box-sizing property in the body selector to apply in the entire document */
  box-sizing: inherit; }

body {
  /* let us customize the box size model with specific unit without the default values */
  box-sizing: border-box; }

.navbar {
  font-family: sans-serif;
  width: 100%;
  height: 29px;
  background: #fff;
  box-shadow: 0 1px 3px #3eafe9; }
  .navbar__sub-container {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 46px;
    background: #3EAFE9; }
    .navbar__sub-container__top {
      display: flex;
      align-items: flex-end;
      list-style: none;
      margin-left: 12rem; }
      .navbar__sub-container__top .navbar-logo__img {
        width: 175px; }
    .navbar__sub-container__list {
      margin: 0 14px; }
      .navbar__sub-container__list__link {
        font-size: 20px;
        color: #fff;
        text-decoration: none; }
  .navbar__bottom {
    margin-left: 12.5rem;
    margin-top: 2.4rem;
    list-style: none; }
    .navbar__bottom__social-media__logo {
      width: 142px; }

.main-container {
  margin: 0 auto;
  width: 70%; }
