
.navbar {
    font-family: sans-serif;
    width: 100%;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #F2F2F2;

    // SUB CONTAINER
    &__sub-container {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        width: 100%;
        margin: auto;
        height: 100px;
        background: #FFF;
        color: $color-primary-black;
        background-color: #F2F2F2;
        
        // TOP NAVBAR
        &__top {
            display: flex;
            align-items: center;
            list-style: none;

            .navbar-logo{
                margin-right: auto;
                &__img{
                    width: 188px;
                }
            }
        }

        //  BOTTOM NAVBAR
        &__bottom {

            &__social-media{
                &__logo{

                }

            }
        }
    }
}






