.navbar {
    font-family: sans-serif;
    width: 100%;
    height: 29px;
    background: #fff;
    box-shadow: 0 1px 3px #3eafe9;

    // SUB CONTAINER
    &__sub-container {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        height: 46px;
        background: #3EAFE9;

        
        // TOP NAVBAR AND LOGO
        &__top {
            display: flex;
            align-items: flex-end;
            list-style: none;
            margin-left: 12rem;
            .navbar-logo{

                &__img{
                    width: 175px;
                }
            }
        }

        &__list{
            margin: 0 14px;
            &__link{
                font-size: 20px;
                color: #fff;
                text-decoration: none;

            }
        }
    }

   //  BOTTOM NAVBAR
  &__bottom {
    margin-left: 12.5rem;
    margin-top: 2.3rem;
    list-style: none;
     &__social-media{
      &__logo{
        width: 142px;
                    }
                }
            }
}






